<div class="container-fluid">
    <form #address="ngForm" (ngSubmit)="getAddress(address.value)" novalidate>
    <div class="form-group d-flex justify-content-between">
        <div style="width: 47%;">
            <label class="font-weight-bolder">Name</label>
            <input type="text" class="form-control" name="uname" #uname="ngModel" ngModel  required>
            <div>
                <span *ngIf="uname.errors?.['required'] && uname.touched " style="color:red">Enter Name!</span>
            </div>
        </div><br>
        <div style="width: 47%;">
            <label class="font-weight-bolder">Address</label>
            <input type="text" class="form-control" name="uadd" #uadd="ngModel" ngModel  required>
            <div>
                <span *ngIf="uadd.errors?.['required'] && uadd.touched " style="color:red">Enter Address!</span>
            </div>
        </div><br>
        <div style="width: 47%;">
            <label class="font-weight-bolder">Postal Code</label>
            <input type="text" class="form-control" name="uzip" #uzip="ngModel" ngModel  required pattern="\d{6}">
            <div>
                <span *ngIf="uzip.errors?.['required'] && uzip.touched " style="color:red">Enter PostalCode</span>
            </div>
            <div>
                <span *ngIf="uzip.errors?.['pattern']" style="color:red">Enter correct PostalCode!</span>
            </div>
        </div><br>
        <div class="form-group">
            <label class="font-weight-bolder">Countries</label>
            <select name="ucountry" class="form-control" #ucountry="ngModel" ngModel required>
                <option>--select--</option>
                <option *ngFor="let cc of countryList">{{cc.name}}</option>
            </select>
            <div>
                <span *ngIf="ucountry.errors?.['required'] && ucountry.touched " style="color:red">Please Select Your Country</span>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save Address</button>
    </div>

</form>
</div>

<button class="btn btn-primary" (click)="addOrder()">Purchase</button>
