<app-usernavbar></app-usernavbar>

<div class="container-fluid">
    <div class="col-md-12">
        <h3>User Name: </h3>
        <h5>{{currentuser.uname}}</h5>
        <button class="btn btn-primary">Change</button>
    </div>
    <div class="col-md-12">
        <h3>Email: </h3>
        <h5>{{currentuser.uemail}}</h5>
        <button class="btn btn-primary">Change</button>
    </div>
    <div class="col-md-12">
        <h3>Password </h3>
        <h5>{{currentuser.upassword}}</h5>
        <button class="btn btn-primary">Change</button>
    </div>
    <div class="col-md-12">
        <h3>Mobile No. </h3>
        <h5>{{currentuser.umobile}}</h5>
        <button class="btn btn-primary">Change</button>
    </div>
    <div class="col-md-12">
        <h3>Country: </h3>
        <h5>{{currentuser.ucountry}}</h5>
        <button class="btn btn-primary">Change</button>
    </div>
</div>