<app-navbaradmin></app-navbaradmin>
<div class="container center_div d-flex justify-content-center align-items-center">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="p-5 shadow-lg p-3 mb-5 bg-white rounded">
                <h1 class="font_col text-center mb-4 font-weight-bolder" style="color:blue;">Delete Categories</h1>
                <div class="container">
                    <table class="table table-bordered table-stripped table-hover table-condensed">
                        <thead>
                            <tr  class="bg-primary">
                                <th> Category Name</th>
                                <th>Action</th>
                               
                            </tr>
                        </thead>
                        <tbody class="bg-info">
                            <tr *ngFor="let c of categories">
                                <td>{{c.cname | uppercase}}</td>
                                <td>
                                    <button class="btn btn-danger btn-md" (click)="deleteCategory({cname:c.cid})">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
            </div>
        </div>

        <div class="col-md-6">

            <img src="assets/Images/Admin/addbook.svg" alt="SignupImage" style="width: 100%;height: 100%;">
        </div>
        </div>
