<app-usernavbar>
</app-usernavbar>

<div class="container mt-3">
    <h1 class="font-weight-bolder text-center mt-2" style="color:blue">Cart Items</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 mt-3" *ngFor="let b of BooksInCart">
            <div class="d-flex justify-content-around align-items-center flex-row shadow-lg mb-2 bg-white rounded" style="width: 100%;">
                <div>
                    <img src="{{b.bimg}}" class="card-img-top m-auto" alt="BookImage" style="height:205px;width:135px;padding-left: 12px;">
                </div>
                <div class="p-5" style="width: 25%;">
                    <p class="card-text text-left" style="font-size: 40px;"><span class="font-weight-bold">{{b.bname}}</span></p>
                    <p class="card-text text-left"><span class="font-weight-bold">By {{b.bauthor}}</span></p>
                </div>

                <form class="form-group d-flex justify-content-center align-items-center flex-column" #qtyForm="ngForm" (ngSubmit)="qtyDetails(b.bid,qtyForm.value)">
                    <label class="mt-4">Current Quantity</label>
                    <div class="d-flex justify-content-center align-items-center">
                        <input style="width: 20%;" class="form-control" name="qty" type="text" [(ngModel)]="b.bquantity">
                        <button class="btn btn-primary ml-3" type="submit">Save Quantity</button>
                    </div>
                </form>
                <div>
                    <p class="card-text text-center"><span class="font-weight-bold">Price : </span>{{b.bprice | currency : "INR"}}</p>
                    <button (click)="removeFromCart(b)" class="btn btn-danger">Remove From Cart</button>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center mt-4" style="float: left;">
            <button class="btn btn-success" (click)="purchaseCart()">Proceed to CheckOut</button>
        </div>
    </div>
</div>
            <!--<p class="text-center">Current Quantity : {{b.bquantity}}</p>
        <div class="form-check-inline">
            <button class="btn btn-primary" (click)="plus(b.bid)">+<i class="fa fa-plus"></i></button>
        </div>
        <div>
            <input style="width:20%" type="text" class="form-control" [(ngModel)]="b.bquantity">
        </div>
        <div>
            <button class="btn btn-primary" (click)="minus(b.bid)">-<i class="fa fa-minus"></i></button>
        </div>
    </div>-->




        
        


    <!--<div>
            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#t' + b.bid">Quantity</button>
        </div>
        <div class="modal fade" id="t{{b.bid}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bolder" id="exampleModalLabel">{{b.bname}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form novalidate>
                        <div class="modal-body">
                            <div class="form-group d-flex justify-content-center align-items-start flex-column">
                                <label class="font-weight-bolder text-left">Book Id</label>
                                <input type="number" class="form-control" id="bid" value="{{b.bid}}" aria-describedby="bid" name="bid" #bid="ngModel" ngModel placeholder="{{b.bid}}" required disabled>

                                <label class="font-weight-bolder text-left">Current Quantity: {{quantity}}</label>
                                <input type="number" class="form-control" id="bq" aria-describedby="bq" name="bq" #bq="ngModel" ngModel placeholder="Enter Quanity to Add" required>
                                <div>
                                    <span *ngIf="bq.errors?.['required'] && bq.touched " style="color:red">Enter Stock to Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="callAgain()">Close</button>
                            <button type="submit" class="btn btn-primary" (click)="increaseQuantity({bq:bq.value,bid:b.bid})">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>-->