<app-usernavbar></app-usernavbar>
<div class="container-fluid mt-5 center_div d-flex justify-content-around align-items-center">
    <div class>

        <img src="{{book.bimg}}" alt="SignupImage" style="width: 116%;height: 100%;">
    </div>
    <div style="width:70%">
        <div class="p-5 shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="font_col text-center mb-4 font-weight-bolder">{{book.bname}}</h1>
            <h3 class="font_col text-center mb-4">{{book.bauthor}}</h3>
            <h3 class="font_col text-center mb-4">{{book.bdesc}}</h3>
            <h3 class="font_col text-center mb-4">{{book.bprice | currency : "INR"}}</h3>
            <button (click)="addThisToCart(book.bid,book.bname)" class="btn btn-primary">Buy Now</button>
        </div>
    </div>


</div>