<h1>Search Result</h1>
<div>
    <div class="container-fluid">
        <div class="row-md-1"  *ngFor="let b of searchedBooks" style="background-color:aqua;">
            <div class="col-md-6" style="background-color:#C8CCC7;margin-bottom: 10%;height:50%">
                <img src={{b.bimg}} width="30%" height="40%" style="float: left;">
                <div style="float: left;margin: 8px">
                    <h1>{{b.bname}}</h1>
                    <p>{{b.bdesc}}</p>
                </div>
            </div>
        </div>
    </div>
  </div>