<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:#6C63FF;">
    <div class="container">
        <a class="navbar-brand" routerLink="/addbook" style="width: 7%;"><img src="assets/Images/Logo.png" alt="logo" style="width: 100%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/addbook"><i class="bi bi-plus-square-fill mr-1"></i>Add Book <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/allbook"><i class="bi bi-card-list mr-1"></i>All_Books</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/updatebook"><i class="bi bi-arrow-up-square-fill mr-1"></i>Update Books</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/addcategory"><i class="bi bi-bookmark-plus-fill mr-1"></i>Add Category</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/allcategory"><i class="bi bi-trash3-fill mr-1"></i>Delete Category</a>
                </li>
            </ul>
            <p class="nav-link mb-0 mr-3 font-weight-bolder" style="color:white;">Welcome {{displayName}} !!</p>
            <button class="btn btn-danger my-2 my-sm-0 mr-4" (click)="logoutUser()"><i class="bi bi-power"></i></button>
        </div>
    </div>
</nav>