<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:#6C63FF;">
    <div class="container">
        <a class="navbar-brand" routerLink="/addbook" style="width: 7%;"><img src="assets/Images/Logo.png" alt="logo" style="width: 100%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/addbook">Add Book <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/allbook">All_Books</a>
                </li>
            </ul>
            <p class="nav-link mb-0 mr-5 font-weight-bolder" style="color:white;">Welcome {{displayName}} !!</p>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>