<app-navbaradmin></app-navbaradmin>
<div class="container">
    <form #updateBookForm="ngForm" (ngSubmit)="update(updateBookForm.value)" novalidate>

        <div class="form-group d-flex justify-content-between">
            <div style="width: 47%;">
                <label class="font-weight-bolder">Book Name</label>
                <input type="text" class="form-control" name="bname" #bname="ngModel" ngModel [(ngModel)]="updatedetails.bname" placeholder=" " required>
                <div>
                    <span *ngIf="bname.errors?.['required'] && bname.touched " style="color:red">Enter Book Name</span>
                </div>
            </div>
            <div style="width: 47%;">
                <label class="font-weight-bolder">Book Description</label>
                <input type="text" class="form-control" name="bdesc" #bdesc="ngModel" ngModel [(ngModel)]="updatedetails.bdesc" placeholder="Enter Book Description" required>
                <div>
                    <span *ngIf="bdesc.errors?.['required'] && bdesc.touched " style="color:red">Enter Book Description</span>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <div style="width: 47%;">
                <label class="font-weight-bolder">Book Price</label>
                <input type="number" class="form-control" name="bprice" #bprice="ngModel" ngModel [(ngModel)]="updatedetails.bprice" placeholder="Please Enter Book Price" required>
                <div>
                    <span *ngIf="bprice.errors?.['required'] && bprice.touched " style="color:red">Please Enter Book Price</span>
                </div>
            </div>
            <div style="width: 47%;">
                <label class="font-weight-bolder">Book Author</label>
                <input type="text" class="form-control" name="bauthor" #bauthor="ngModel" ngModel [(ngModel)]="updatedetails.bauthor" placeholder="Enter Name of Author" required>
                <div>
                    <span *ngIf="bauthor.errors?.['required'] && bauthor.touched " style="color:red">Enter Name of Author</span>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            
            <div style="width: 47%;">
                <label class="font-weight-bolder">Book Stock</label>
                <input type="number" class="form-control" name="bstock" #bstock="ngModel" ngModel [(ngModel)]="updatedetails.bstock" placeholder="Please Enter Book Price" required>
                <div>
                    <span *ngIf="bstock.errors?.['required'] && bstock.touched " style="color:red">Please Enter Book Price</span>
                </div>
            </div>
        </div>

        

        <div class="form-group d-flex justify-content-between">
            <div style="width: 47%;">
                <label class="font-weight-bolder">Book Status</label>
                <select name="bstatus" class="form-control" #bstatus="ngModel" ngModel [(ngModel)]="updatedetails.bstatus" required>
        <option value="">Select Status</option>
        <option value="free">Free</option>
        <option value="paid">Paid</option>
    </select>

                <div>
                    <span *ngIf="bstatus.errors?.['required'] && bstatus.touched " style="color:red">Select Book Status</span>
                </div>
            </div>
         
        </div>

        <div class="form-group">

        </div>

        <div class="mt-4">
            <button class="btn btn-primary font-weight-bold btn_back" [disabled]=""  style="width:100%">Update Book</button>
        </div>
    </form>
</div>
       
