<app-usernavbar></app-usernavbar>
<!-- <div>
    <div class="container-fluid">
        <div class="row-md-1" *ngFor="let b of booklist" style="background-color:aqua;">
            <div class="col-md-6" style="background-color:#C8CCC7;margin-bottom: 10%;height:50%">
                <img src={{b.bimg}} width="30%" height="40%" style="float: left;">
                <div style="float: left;margin: 8px">
                    <h1>{{b.bname}}</h1>
                    <p>{{b.bdesc}}</p>
                    <button (click)="addThisToCart(b.bid,b.bname)" class="btn btn-primary">Add To Cart</button>
                    <button class="btn btn-primary" style="float: left;margin-right: 5px;">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 mt-5" *ngFor="let b of booklist">
            <div class="card d-flex justify-content-center text-right pt-4 shadow-lg mb-5 bg-white rounded" style="width: 18rem;">
                <img src="{{b.bimg}}" class="card-img-top m-auto" alt="BookImage" style="height:10%;width:50%">
                <div class="card-body">
                    <p class="card-text text-center"><span class="font-weight-bold">{{b.bname}}</span></p>
                    <p class="card-text text-center"><span class="font-weight-bold">{{b.bdesc}}</span></p>
                    <p class="card-text text-center"><span class="font-weight-bold">Price : </span>{{b.bprice | currency : "INR"}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <button (click)="addThisToCart(b.bid,b.bname)" class="btn btn-primary">Add To Cart</button>
                        <button class="btn btn-primary" style="float: left;margin-right: 5px;">Buy Now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>