<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="userhomepage">BookShelf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="userhomepage">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="../myprofilepage">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="../mycartpage">My Cart</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Fiction</a>
              <a class="dropdown-item" href="#">Romance</a>
              <a class="dropdown-item" href="#">Fantasy</a>
              <a class="dropdown-item" href="#">Thriller</a>
              <a class="dropdown-item" href="#">Horror</a>
              <a class="dropdown-item" href="#">Biography</a>
              <a class="dropdown-item" href="#">Motivational</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="d-flex" #searching="ngForm" (ngSubmit)="searchForBook(searching.value)">
          <input class="form-control me-sm-2" type="text" placeholder="Search" name="booksearch" #booksearch="ngModel" ngModel>
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div>
    <div class="container-fluid">
        <div class="row-md-1"  *ngFor="let b of booklist" style="background-color:aqua;">
            <div class="col-md-6" style="background-color:#C8CCC7;margin-bottom: 10%;height:50%">
                <img src={{b.bimg}} width="30%" height="40%" style="float: left;">
                <div style="float: left;margin: 8px">
                    <h1>{{b.bname}}</h1>
                    <p>{{b.bdesc}}</p>
                    <button (click)="addThisToCart(b.bid,b.bname)" class="btn btn-primary">Add To Cart</button>
                    <button class="btn btn-primary"  style="float: left;margin-right: 5px;">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
  </div>